/*src\pages\TablePage\TablePage.css*/

.containerTablePage {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
}

.categorySection {
  flex-basis: 200px;
  flex-shrink: 0;
  border: 2px solid rgb(14, 194, 17);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow-y: auto;
}

.tableSection {
  flex-basis: 350px;
  flex-shrink: 0;
  border: 2px solid purple;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.goBack {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 20;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 20%;
  margin: 5px;
}
.goBack:hover {
  transform: scale(1.1);
  background: #720101;
}
.goBack:active {
  transform: scale(0.65);
  background: #f45d5d;
}

.selectedTable {
  padding: 10px;
  background: white;
  position: sticky;
  top: 0;
  display: inline;
}
.containerTitleTable {
  border-bottom: 1px solid black;
  padding: 10px;
}

.tableProductsWrapper {
  overflow-y: auto;
  flex: 1;
}

.descriptionTable {
  display: flex;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 10;
}

.col-product {
  flex: 1;
}

.col-qty {
  flex: 1.5;
  text-align: center;
}

.col-price {
  width: 80px;
  text-align: right;
  padding-right: 10px;
}

.tableTotal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-top: 1px solid black;
}

.addedProducts {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
  padding-left: 10px;
  border-bottom: 1px solid black;
}

.qty-btn {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 6px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: purple;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  color: white;
}

.qty-btn:hover {
  background: rgb(213, 147, 213);
  transform: scale(1.1);
  color: purple;
}

.qty-btn:active {
  transform: scale(0.95);
  background: #dcdce0;
}

.col-qty {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
