/*src\pages\TablePage\TablePage.css*/

.containerTablePage {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.categorySection {
  flex-basis: 200px;
  flex-shrink: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.6rem;
  overflow-y: auto;
  background: none;
}

.tableSection {
  flex: 1;
  border: 2px solid purple;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  font-weight: bolder;
  font-size: 20px;
}

.goBack {
  position: absolute;
  top: 20px;
  right: 22px;
  z-index: 20;
  padding: 5px;
  width: 35px;
  height: 35px;
  background-color: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goBack:hover {
  transform: scale(1.1);
  background: #720101;
}
.goBack:active {
  transform: scale(0.95);
  background: #f45d5d;
}

.selectedTable {
  padding: 10px;
  background: white;
  position: sticky;
  top: 0;
  display: block;
  border-bottom: 1px solid #ccc;
  z-index: 10;
}

h1.selectedTable {
  color: purple;
  font-family: "Cinzel", serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 20px;
}

.tableProductsWrapper {
  overflow-y: auto;
  flex: 1;
}

.descriptionTable {
  display: flex;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: #f0f0f0;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 10;
  align-items: center;
}

.col-product {
  flex: 2;
}

.col-qty {
  flex: 1;
  text-align: center;
}

.col-price {
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

.tableTotal {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.5rem;
  align-items: center;
  color: purple;
  font-family: "Cinzel", serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  border-top: 1px solid #ccc;
}

.addedProducts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.qty-btn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: purple;
  color: white;
  transition: all 0.2s ease;
}
.qty-btn:hover {
  background: rgb(213, 147, 213);
  transform: scale(1.1);
  color: purple;
}
.qty-btn:active {
  transform: scale(0.95);
  background: #dcdce0;
}

.col-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}
