.containerTablePage {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
  margin: 15px;
  height: 98vh;
}

.categorySection {
  border: 2px solid rgb(14, 194, 17);
  border-radius: 15px;
  width: 14%;
  height: 95vh;
  min-width: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: none;
}

.productsSection {
  border: 2px solid blue;
  border-radius: 15px;
  width: 49%;
  height: 95vh;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
}
.productsSection::-webkit-scrollbar {
  display: none;
}

.productList {
  list-style: none;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  width: auto;
}

li {
  border: 2px solid blue;
  border-radius: 20px;
  padding: 9px;
  font-size: 4vh;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableSection {
  border: 2px solid purple;
  border-radius: 15px;
  width: 36%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.selectedTable {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid black;
}

.tableProductsWrapper {
  overflow-y: auto;
  flex: 1;
}

.descriptionTable {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
  padding: 10px;
  background: white;
  position: sticky;
  z-index: 15;
  border-bottom: 1px solid black;
}

.col-product {
  flex: 1;
}

.col-qty {
  flex: 1.5;
  text-align: center;
}

.col-price {
  width: 80px;
  text-align: right;
  margin-right: 10px;
}

.tableTotal {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-top: 1px solid black;
}

.addedProducts {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
  padding-left: 10px;
  border-bottom: 1px solid black;
}

.qty-btn {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 6px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: purple;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  color: white;
}

.qty-btn:hover {
  background: rgb(213, 147, 213);
  transform: scale(1.1);
  color: purple;
}

.qty-btn:active {
  transform: scale(0.95);
  background: #dcdce0;
}

.col-qty {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
