.table {
  width: 100px;
  height: 100px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.table:hover {
  background: purple;
  transform: scale(0.95);
  color: white;
  border: purple;
}
.table:active {
  background: purple;
  transform: scale(0.75);
  color: white;
  border: none;
}
