/*src\components\TableProductsList\TableProductList.css*/

.tableProductsWrapper {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
}

.descriptionTable {
  display: flex;
  font-weight: bold;
  padding: 5px 10px;
  background: #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 10;
}

.col-product {
  flex: 1;
}

.col-qty {
  flex: 0.5;
  text-align: center;
}

.col-price {
  width: 80px;
  text-align: right;
  padding-right: 10px;
}

.addedProducts {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.qty-btn {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0 4px;
  background: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty-btn:hover {
  background: #d58ed5;
  color: purple;
  transform: scale(1.1);
}

.tableTotal {
  margin-top: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-action-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-bottom: 5px;
}

.table-action-btn.save {
  background: #4caf50;
}

.table-action-btn.edit {
  background: purple;
}

.table-action-btn.trash {
  background: #e53935;
}

.table-action-btn.split {
  background: blue;
}

.table-action-btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.table-action-btn.close {
  background: #e53935;
  margin-top: 20px;
}

.splitBillBox {
  margin-top: 10px;
  padding: 20px;
  border-radius: 8px;
  background: blue;
  font-size: 14px;
  color: white;
}

.splitBillBox input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

.splitResult {
  margin-top: 8px;
  font-size: large;
}
