/*src\components\TableProductsList\TableProductList.css*/

.tableProductsWrapper {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
}

.descriptionTable {
  display: flex;
  font-weight: bold;
  /*padding: 5px 10px;*/
  background: #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 10;
  color: purple;
  font-family: "Cinzel", serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: medium;
}

.col-product {
  flex: 1;
}

.col-qty {
  flex: 0.5;
  text-align: center;
}

.col-price {
  width: 80px;
  text-align: right;
  padding-right: 5px;
}

h3.col-price {
  padding-left: 10px;
}

.addedProducts {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.qty-btn {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0 4px;
  background: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty-btn:hover {
  background: #d58ed5;
  color: purple;
  transform: scale(1.1);
}

.tableTotal {
  margin-top: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: x-large;
  color: purple;
  font-family: "Cinzel", serif;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.tableTotal .topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tableTotal .totalAmount {
  font-size: 1rem;
  padding: 15px;
}

.tableTotal .bottomRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.table-action-btn {
  padding: 6px 10px;
  font-size: 20px;
  width: auto;
  min-width: 80px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.table-action-btn.save {
  background: #4caf50;
}

.table-action-btn.edit {
  background: purple;
}

.table-action-btn.trash {
  background: #e53935;
}

.table-action-btn.split {
  background: blue;
}

.table-action-btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.table-action-btn.close {
  background: #e53935;
  margin-top: 20px;
}

.table-action-btn:active {
  background-color: white;
  color: purple;
  border-color: purple;
  transform: scale(0.5);
}

.splitBillBox {
  margin-top: 10px;
  padding: 20px;
  border-radius: 8px;
  background: blue;
  font-size: 14px;
  color: white;
}

.splitBillBox input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

.splitResult {
  margin-top: 8px;
  font-size: large;
}

.confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirmBox {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
}

.confirmButtons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  color: white;
}

.confirmButtons .table-action-btn {
  min-width: 80px;
  color: white;
  background-color: red;
}

.table-action-btn.yes {
  background-color: green;
}

/**/
@media (max-width: 768px) {
  .addedProducts {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .col-price {
    align-self: flex-end;
  }

  .tableTotal {
    font-size: 1.1rem;
  }
}
/**/
