/*src\App.css*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");

.mainLayout {
  display: flex;
  width: 100%;
  gap: 0px;
  padding: 20px;
}
header {
  display: inline-block;
}

.containerTables {
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(3, 90px);
  gap: 14px;

  width: 70%;
  padding: 20px;
}

.tablePreview {
  flex-basis: 30%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0px;
  width: 100px;
  height: 520px;
  margin: -70px 0 0 0;
}

.barName {
  display: inline-block;
  color: purple;
  font-family: "Cinzel", serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 50px;
}
