/*src\App.css*/

.mainLayout {
  display: flex;
  width: 100%;
  gap: 0px;
  padding: 20px;
}

.containerTables {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 70%;
  height: 90%;
}

.tablePreview {
  flex-basis: 35%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0px;
  width: 100px;
  height: 520px;
  margin: 0px;
}
