/*src\App.css*/

.containerTables {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.mainLayout {
  display: flex;
  width: 100%;
}

.tableSidePanel {
  flex: 1;
  border-left: 2px solid #ddd;
}
