/*src\App.css*/

.mainLayout {
  display: flex;
  width: 100%;
  gap: 0px;
  padding: 20px;
}

.containerTables {
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(3, 90px);
  gap: 14px;

  width: 70%;
  padding: 20px;
}

.tablePreview {
  flex-basis: 35%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0px;
  width: 100px;
  height: 520px;
  margin: 0px;
}
