/*src\App.css*/

.mainLayout {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.containerTables {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 70%;
}

.tablePreview {
  flex-basis: 30%;
  border: 2px solid purple;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
}
