/*src\App.css*/

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");

.mainLayout {
  min-height: 100vh; /* riempie sempre il viewport */
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: stretch;
  flex-direction: column; /* utile per mobile */
}

header {
  display: inline-block;
}

/* TABLET (default) */
.containerTables {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 100%;
}

/* DESKTOP */
@media (min-width: 1200px) {
  .containerTables {
    grid-template-columns: repeat(8, 90px);
  }
}

.tablePreview {
  flex: 0 0 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*overflow: hidden; /* NIENTE scrollbar */
  transform: scale(0.99);
  transform-origin: top center;
}

/* Desktop */
@media (min-width: 1200px) {
  .tablePreview {
    width: 30%;
    height: 520px;
  }
}

.barName {
  display: inline-block;
  color: purple;
  font-family: "Cinzel", serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 60px;
  text-shadow: 0px 0px 15px rgb(180, 7, 223);
}

/* =========================
   RESPONSIVE VERTICALE (mobile / tablet portrait)
========================= */
@media (max-width: 768px) {
  .mainLayout {
    flex-direction: column; /* impila tavoli e preview */
    padding: 10px;
  }

  .tablePreview {
    flex: 0 0 auto; /* altezza naturale */
    width: 100%; /* full width sotto i tavoli */
    height: auto; /* altezza adattiva */
    margin-top: 15px; /* piccolo spazio sopra */
  }

  .barName {
    font-size: 32px;
    margin-left: 10px;
  }
}
