/*src\components\CategoryLabel\CategoryLabel.css*/

.categoryLabel {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(14, 194, 17);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.categoryLabel:hover {
  transform: scale(1.05);
  background-color: rgba(14, 194, 17, 0.1);
}
