/*src\components\CategoryLabel\CategoryLabel.css*/

.categoryLabel {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: solid 3px black;
}

.categoryLabel:hover {
  transform: scale(1.05);
  background-color: #f2fa81;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.911);
}

.categoryLabel:active {
  background-color: purple;
  color: white;
  border-color: purple;
  transform: scale(0.95);
}
