/*src\components\CategoryLabel\CategoryLabel.css*/

.categoryLabel {
  width: 100%;
  height: 100%;
  border: solid 2px rgb(14, 194, 17);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: auto;
  cursor: pointer;
}
